<div class="mainheader" fxLayout="column" fxLayoutAlign="center center">
    <div style="width: 80%;">
        <div style="width: 100%; margin-top: 2%;">
            <span style="color:gray;" routerLink="/dashboard/getallbooks">Home/</span><span> 
            </span>
        </div>
        <div class="header">
            <div class="Books">
                <div class="smallimages">
                    <div class="small1">
                        <img class="img1" src="../../../assets/Image 36.png" alt="">
                    </div>
                    <div class="small2">
                        <img class="img2" src="../../../assets/Image 36.png" alt="">
                    </div>
                </div>
            </div>
            <div class="maincontent" fxLayout="column" fxLayoutAlign=" center">
                <div class="image" fxLayoutAlign="center center">
                    <img class="mainimage" src="../../../assets/Image 36.png" alt="bookImage">
                </div>
              
                    <button class="btn" (click)="AddToBag(Book)">ADD TO BAG</button>
                    <button class="btn2">
                        <mat-icon id="fav-icons">favorite</mat-icon>WHISH LIST
                    </button>
            </div>
            
            </div>
        </div>
    </div>