<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" > 
    <div class="part2-1-1">
      <div id="font-size">
        <h2>First Name</h2>
        <mat-form-field class="button1" appearance="outline">
          <input class="button-size" matInput placeholder="" formControlName="firstname" class="fullname">
          <mat-error>Enter FirstName</mat-error>
        </mat-form-field>
      </div>
      <div id="font-size">
        <h2>Last Name</h2>
        <mat-form-field class="button1" appearance="outline">
          <input class="button-size" matInput placeholder="" formControlName="lastname" class="fullname">
          <mat-error>Enter FirstName</mat-error>
        </mat-form-field>
      </div>
      <div id="font-size">
        <h1>Email</h1>
        <mat-form-field class="button1" appearance="outline" >
          <input matInput placeholder="" formControlName="email"class="email">
          <mat-error>Enter Email</mat-error>
        </mat-form-field>
      </div>
      <div id="font-size">
        <h1>Password</h1>
        <mat-form-field class="button1" appearance="outline" >
          <input matInput placeholder="" formControlName="Password"class="password">
          <mat-error>Enter Password</mat-error>
        </mat-form-field>
      </div>
      <div id="font-size">
        <h1>Mobile Number</h1>
        <mat-form-field class="button1" appearance="outline" >
          <input matInput placeholder="" formControlName="phoneNo" class="phone">
          <mat-error>Enter PhoneNo</mat-error>
        </mat-form-field>
      </div>
      <div id="font-size">
        <h1>Role</h1>
        <mat-form-field class="button1" appearance="outline" >
          <input matInput placeholder="" formControlName="role" class="phone">
          <mat-error>Enter Role Name:Either Admin/User</mat-error>
        </mat-form-field>
      </div>
    
      <div>
        <button id="login-button" mat-flat-button color="warn">Signup</button>
      </div>
    </div>
  </form>